{% extends 'base.html' %} 
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/link_upload.css' %}" type="text/css" />
{% endblock %}

{% block content %}
    {% if all_add %}
        <ul class="cont_list">
        {% for i in all_add %} <!--one_add은여기서지정,all_add는뷰에서지정-->
            <li class="thumb_cont" >
                <a href="{{i.link}}" target="_blank">{{i.link}}</a>
                <!--<a href="{% url 'update' i.id %}" class="btn_midf">수정</a>-->
                <a href="{% url 'update' i.id %}">수정</a>
                <a href="{% url 'delete' i.id %}" class="btn_dele">삭제</a>
                <!--{{ i.link | urlize }}-->
            </li>
            <!--{% if detail_add.author == user %}-->
            <!-- {% endif %} -->
        {% endfor %}
        </ul>
    {% else %}
        <div class="con_area_empty">
            <a class="btn_plus" onclick="show_modal()"><span>+</span></a>
        </div>
    {% endif %}

    <div id="content_add">
        <form action="{% url 'create' %}" method="POST" >
            {% csrf_token %}
            {{write_form.as_ul}}
         <input type="submit" value="완료" class="btn_add">
        </form>
    </div>
{% endblock %}