{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GINGER</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />

    {% block extrahead %}

    {% endblock %}
</head>

<body>
  <nav class = 'gnb_nav'>
    <div class = 'left_gnb_nav'>
      <div class = 'nav_logo'><a href="{% url 'index' %}">Ginger</a></div>
      <div class = 'nav_curation' href="#">curation</div>
    </div>

    <div class = 'right_gnb_nav'>
      <div class = 'nav_search'>search</div>
      <div class = 'nav_add' onclick="show_modal()"><span >+</span></div>
      <div class = 'nav_login'>login</div>
      <!-- <div class = 'nav_mypage' a href="#">mypage</div> -->
    </div>

  </nav>
   
    {% block content %}
 
    {% endblock %}

    <script>
      function show_modal(){
        document.querySelector("#content_add").classList.toggle("show")
      }
      
      function show_modal_modi(){
        document.querySelector("#content_modi").classList.toggle("show")
      }
    </script>
</body>
</html>